{"openapi":"3.0.2","info":{"title":"Near-by-search","version":"v20251205"},"servers":[{"url":"https://api.lmservices.mobilityinnovate.net/api/nearBySearch"}],"paths":{"/search":{"get":{"description":"Searches stations/stops/car-/bike-rentals/mobistations within a given bounding box or centar and radius","summary":"The search includes fixed point of interest, and free floating vehicles updated all 30s","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"center","in":"query","description":"Coordinate in format lat,lon, that specifies the center of the search","example":"51.35,12.35","required":true,"schema":{"type":"string"}},{"name":"radius","in":"query","description":"Radius measured in Meters from the center","example":"500","required":true,"schema":{"type":"number"}},{"name":"format","in":"query","description":"Response format, valid options: `TRIAS`, `TRIAS12` or anything else for the default format","example":"","required":false,"schema":{"type":"string"}},{"name":"types","in":"query","description":"comma separated list of either `station`, `stop`, `free_floating`, `parkingarea` (flinkster-specific), `operationarea` (flinkster-specific), `mobistation`, default all","example":"","required":false,"schema":{"type":"string"}},{"name":"vehicletypes","in":"query","description":" comma separated list `car`, `bike`, default all","example":"","required":false,"schema":{"type":"string"}},{"name":"sources","in":"query","description":"comma sep list `nextbike`, `cantamen`, `flinkster`, `taxi`, `lvb`, `gtfs-mdv`, `escooter`, `ticket-seller`, `parkit`, `flexa`, default all","example":"","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","description":"comma sep list, name of a provider, e.g. `nextbike Leipzig`, `LTB Leipzig`, `teilAuto`, `escooter`, `S O NAH` ...","example":"","required":false,"schema":{"type":"string"}},{"name":"number","in":"query","description":"number of results, default all","example":"","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"JSON Object containing a list of matching records. Use the Try it button to see an example","content":{"application/json:":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/searchItemJson"}},{"$ref":"#/components/schemas/baseTrias"},{"$ref":"#/components/schemas/baseTrias12"}]}}}}}}},"/getProviderInformation/{id}":{"get":{"description":"Gives some information about the provider of a place. (`id`=`prov_id`)","summary":"","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"id","in":"path","description":"get information about the provider for a `prov_id`","example":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/getVehicles/{id}":{"get":{"description":"Gives all vehicles that are available between `start` and `end`, has optional parameters `start`,`end` with ISO format,i.e. `yyyy-MM-ddTHH:mm:ssPHH:mm` where `P`=`+` or `-` and the second `HH:mm` is the timezone offset. The request is directly passed to the provider with for now no in-between database. Default: Gives all possible vehicles that could be rented at this station. These values are stored in a database. ","summary":"Returns all vehicles by ID","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"id","in":"path","description":"get information about the vehicles in the station with id `id`","example":"","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"start time `yyyy-MM-ddTHH:mm:ssPHH:mm`","example":"","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"end time `yyyy-MM-ddTHH:mm:ssPHH:mm`","example":"","required":false,"schema":{"type":"string"}},{"name":"key_general_val","in":"query","description":"comma separated list of wanted general key value pairs, i.e. the value may occur somewhere in the sub-object of key (e.g. 'key':{'message':'value'}), format key,value,key,value,... Also you may use `||` for an `OR` operator in the value.","example":"","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","description":"`TRIAS`, `TRIAS12` or leave empty for direct provider format","example":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json:":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/bikeFreeSearchJson"}},{"type":"array","items":{"$ref":"#/components/schemas/flinksterVehicleJson"}},{"$ref":"#/components/schemas/baseTrias"},{"$ref":"#/components/schemas/baseTrias12"}]}}}}}}},"/getVehiclesForStations/{ids}":{"get":{"description":"Same as /getVehicles, but for many stations. JSON response changes a little","summary":"Returns all vehicles by station_id","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"ids","in":"path","description":"comma separated list of station ids","example":"","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"start time `yyyy-MM-ddTHH:mm:ssPHH:mm`","example":"","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"end time `yyyy-MM-ddTHH:mm:ssPHH:mm`","example":"","required":false,"schema":{"type":"string"}},{"name":"key_general_val","in":"query","description":"comma separated list of wanted general key value pairs, i.e. the value may occur somewhere in the sub-object of key (e.g. 'key':{'message':'value'}), format key,value,key,value,... Also you may use `||` for an `OR` operator in the value.","example":"","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","description":"`TRIAS`, `TRIAS12` or leave empty for direct provider format","example":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json:":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/multipleStationGetVehiclesJson"}},{"$ref":"#/components/schemas/baseTrias"},{"$ref":"#/components/schemas/baseTrias12"}]}}}}}}},"/getVehicleAvailabilities/{id}":{"get":{"deprecated":true,"description":"Get a list of time-intervals where the given vehicle is available. (Right now only flinkster support)","summary":"Returns availabilities of the vehicle","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"id","in":"path","description":"Vehicle Id: format source-uid","example":"flinkster-94D54B24300E50E7ECB673BA717C515E68B33EFE","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"start time `yyyy-MM-ddTHH:mm:ssPHH:mm`. Default today 00:00:00","example":"","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"end time `yyyy-MM-ddTHH:mm:ssPHH:mm`. Default today 00:00:00 + 8 days","example":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"begin":{"type":"string","format":"date-time","description":"The start date and time of the availability period in ISO 8601 format.","example":"2024-09-12T22:00:00Z"},"end":{"type":"string","format":"date-time","description":"The end date and time of the availability period in ISO 8601 format.","example":"2024-09-20T22:00:00Z"}},"description":"Represents a period of availability with a start and end time."}}}}}}}},"/nearByFlinkster":{"get":{"deprecated":true,"description":"Get a list of flinkster stations and vehicles in a radius around the center that are available in the given timespan and that fulfill the filter criteria.","summary":"Returns available vehicles with stations","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"center","in":"query","description":"lat,lon","example":"51.37,12.34","required":true,"schema":{"type":"string"}},{"name":"radius","in":"query","description":"search radius: default 500, max 100000","example":"","required":false,"schema":{"type":"int"}},{"name":"start","in":"query","description":"start time `yyyy-MM-ddTHH:mm:ssPHH:mm`.","example":"","required":false,"schema":{"type":"string"}},{"name":"end","in":"query","description":"end time `yyyy-MM-ddTHH:mm:ssPHH:mm`.","example":"","required":false,"schema":{"type":"string"}},{"name":"key_general_val","in":"query","description":"comma separated list of wanted general key value pairs, i.e. the value may occur somewhere in the sub-object of key (e.g. 'key':{'message':'value'}), format key,value,key,value,... Also you may use `||` for an `OR` operator in the value.","example":"","required":false,"schema":{"type":"string"}},{"name":"format","in":"query","description":"`TRIAS`, `TRIAS12` or leave empty for direct provider format","example":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/multipleStationGetVehiclesJson"}},{"$ref":"#/components/schemas/baseTrias"},{"$ref":"#/components/schemas/baseTrias12"}]}}}}}}},"/listFlinksterVehicleProperties":{"get":{"deprecated":true,"description":"Get a list of values for a flinkster property. Example `{key:{prop1:\"p1\",prop2:\"p2\"}}`. Asking for `key` gives `[\"p1\",\"p2\"]`. Asking for `key.prop1` gives `[\"p1\"]`","summary":"Returns list of possible values","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"property","in":"query","description":"a property/key in the flinkster response","example":"fuel.value","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json:":{"schema":{"type":"array","description":"All values under the given property","items":{"type":"string"}}}}}}}}},"components":{"schemas":{"latitude":{"type":"number","minimum":-90,"maximum":90,"example":"51.230301"},"longitude":{"type":"number","minimum":-180,"maximum":180,"example":"12.715422"},"searchItemJson":{"type":"object","description":"Object found in the search for ``format``=`JSON` or empty.","required":["id","name","lat","lon","type","source","provider","data","prov_id","mobistation_id"],"properties":{"id":{"type":"string","description":"Id for the found object","example":"nextbike-144737862"},"name":{"type":"string","description":"Name of the object, depending of its type","example":"BIKE 23252"},"lat":{"$ref":"#/components/schemas/latitude","description":"Geographical latitude of the station"},"lon":{"$ref":"#/components/schemas/longitude","description":"Geographical longitude of the station"},"type":{"type":"string","description":"Object type: `station`, `stop`, `free_floating`, `parkingarea` (flinkster-specific), `operationarea` (flinkster-specific) ,`mobistation`, `konsum`","example":"free_floating"},"source":{"type":"string","description":"Where the data comes from, `gtfs_mdv`,`nextbike`, `taxi`,`ticket-seller`, `escooter`, `lvb`, `flexa`","example":"nextbike"},"provider":{"type":"string","description":"service provider, `nextbike Leipzig`,`MDV`, `Taxi 4884`, `escooter`,`lvb`","example":"nextbike Leipzig"},"data":{"type":"object","description":"Data required to book or rent a car, o bike. Each type of object has a different structure","example":"{\"uid\":144784341,\"state\":\"ok\",\"active\":true,\"number\":\"23609\",\"bike_type\":71,\"lock_types\":[\"frame_lock\"],\"vehicletype\":\"bike\",\"bikeTypeName\":\"mit Rahmenschloss\",\"boardcomputer\":7551090152,\"electric_lock\":true}","oneOf":[{"$ref":"#/components/schemas/bikeFreeSearchJson"},{"$ref":"#/components/schemas/bikeStationSearchJson"},{"$ref":"#/components/schemas/flinksterSearchJson"},{"$ref":"#/components/schemas/taxi"},{"$ref":"#/components/schemas/mobistation"},{"$ref":"#/components/schemas/stop"},{"$ref":"#/components/schemas/escooterFreeSearchJson"},{"$ref":"#/components/schemas/escooterStationSearchJson"},{"$ref":"#/components/schemas/ticketSeller"},{"$ref":"#/components/schemas/flexa"}]},"prov_id":{"type":"string","description":"Id of the specific provider","example":"nextbike-nextbike Leipzig"},"mobistation_id":{"type":"string","description":"Id of the mobile station, where several bikes or scooters can be parked","example":"null"}}},"baseTrias":{"type":"object","description":"Object returned if ``format`` is `TRIAS`.","required":["serviceDelivery","version"],"properties":{"serviceDelivery":{"type":"object","required":["deliveryPayload"],"properties":{"deliveryPayload":{"type":"object","required":["locationInformationResponse"],"properties":{"locationInformationResponse":{"type":"object","required":["errorMessage","location"],"properties":{"errorMessage":{"type":"array","description":"is not used, always empty","items":{"type":"string"}},"location":{"type":"array","items":{"$ref":"#/components/schemas/locationTrias"}}}}}}}},"version":{"type":"string","enum":["1.1"]}}},"baseTrias12":{"type":"object","description":"Object returned if ``format`` is `TRIAS12`.","required":["serviceDelivery","version"],"properties":{"serviceDelivery":{"type":"object","required":["deliveryPayload"],"properties":{"deliveryPayload":{"type":"object","required":["locationInformationResponse"],"properties":{"locationInformationResponse":{"type":"object","required":["errorMessage","locationResult"],"properties":{"errorMessage":{"type":"array","description":"is not used, always empty","items":{"type":"string"}},"locationResult":{"type":"array","items":{"$ref":"#/components/schemas/locationTrias12"}}}}}}}},"version":{"type":"string","enum":["1.2"]}}},"locationTrias":{"type":"object","required":["location","complete","probability","mode"],"properties":{"location":{"type":"object","required":["pointOfInterest","geoPosition","attribute","extension"],"properties":{"pointOfInterest":{"type":"object","required":["pointOfInterestCode","pointOfInterestName","pointOfInterestCategory","privateCode"],"properties":{"pointOfInterestCode":{"type":"string","description":"the id of the object with schema `source-uid`","example":"nextbike-144737862"},"pointOfInterestName":{"type":"object","required":["text"],"properties":{"text":{"type":"string"}}},"pointOfInterestCategory":{"type":"array","description":"not used, always empty","items":{"type":"string"}},"privateCode":{"type":"array","description":"not used, always empty","items":{"type":"string"}}}},"geoPosition":{"type":"object","required":["longitude","latitude"],"properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}}},"attribute":{"type":"array","description":"not used, always empty","items":{"type":"string"}},"extension":{"oneOf":[{"$ref":"#/components/schemas/searchTriasExtension"},{"$ref":"#/components/schemas/getVehiclesNextbikeTriasExtension"},{"$ref":"#/components/schemas/getVehicleFlinksterTriasExtension"},{"$ref":"#/components/schemas/getVehicleEscooterTriasExtension"}]}}},"complete":{"type":"boolean","description":"the field is not used"},"probability":{"type":"number"},"mode":{"type":"array","description":"not used, always empty","items":{"type":"string"}}}},"locationTrias12":{"type":"object","required":["location","complete","mode"],"properties":{"location":{"type":"object","required":["pointOfInterest","geoPosition","attribute","extension","locationName"],"description":"Details of the location, including point of interest and geographical information.","properties":{"pointOfInterest":{"type":"object","required":["pointOfInterestCode","pointOfInterestName","pointOfInterestCategory","privateCode","nameSuffix"],"properties":{"pointOfInterestCode":{"type":"string","description":"the id of the object with schema `source-uid`","example":"nextbike-144737862"},"pointOfInterestName":{"type":"array","description":"List of names associated with the point of interest. We only use length 1.","minItems":1,"maxItems":1,"items":{"type":"object","required":["text"],"properties":{"text":{"type":"string","description":"The name or text label of the point of interest.","example":"Leipzig, Zur Lindenhöhe"}}}},"nameSuffix":{"type":"array","description":"Suffixes to the point of interest's name, if any. Not used, always empty.","items":{"type":"string"}},"pointOfInterestCategory":{"type":"array","description":"Categories to which the point of interest belongs. Not used always empty.","items":{"type":"string"}},"privateCode":{"type":"array","description":"Private codes associated with the point of interest, if applicable. Not used, always empty.","items":{"type":"string"}}}},"locationName":{"type":"array","description":"Names associated with the geographical location. Not used, always empty.","items":{"type":"string"}},"geoPosition":{"type":"object","required":["longitude","latitude"],"description":"Geographical coordinates of the location.","properties":{"longitude":{"type":"number","format":"float","description":"Longitude of the location.","example":0},"latitude":{"type":"number","format":"float","description":"Latitude of the location.","example":0}}},"attribute":{"type":"array","description":"List of attributes associated with the location. Not used, always empty.","items":{"type":"string"}},"extension":{"oneOf":[{"$ref":"#/components/schemas/searchTriasExtension"},{"$ref":"#/components/schemas/getVehiclesNextbikeTriasExtension"},{"$ref":"#/components/schemas/getVehicleFlinksterTriasExtension"},{"$ref":"#/components/schemas/getVehicleEscooterTriasExtension"}]}}},"complete":{"type":"boolean","description":"Indicates whether the location information is complete or not. Not used."},"mode":{"type":"array","description":"Transport modes or modes of operation available at the location. Not used, always empty.","items":{"type":"string"}}}},"searchTriasExtension":{"type":"object","required":["category","custom"],"description":"appears only in the endpoint `/search`","properties":{"category":{"oneOf":[{"$ref":"#/components/schemas/triasCategory"},{"$ref":"#/components/schemas/trias12Category"}]},"custom":{"oneOf":[{"$ref":"#/components/schemas/bikeSearchTrias"},{"$ref":"#/components/schemas/flinksterSearchTrias"},{"$ref":"#/components/schemas/taxi"},{"$ref":"#/components/schemas/mobistation"},{"$ref":"#/components/schemas/stop"},{"$ref":"#/components/schemas/escooterFreeSearchJson"},{"$ref":"#/components/schemas/escooterStationSearchJson"},{"$ref":"#/components/schemas/ticketSeller"},{"$ref":"#/components/schemas/parkit"},{"$ref":"#/components/schemas/flexa"}]}}},"triasCategory":{"type":"array","minItems":3,"maxItems":3,"description":"Category for the `TRIAS` format","items":{"type":"string","description":"The array has 3 entries. The first entry is `custom` the third entry is `lvb_getvehicles`. The second entry of the array is in the provided enum, but cannot be any of `custom` or `lvb_getVehicles`. `category[1]` is equal to the `source` of the represented element","enum":["custom","nextbike","flinkster","taxi","escooter","ticket-seller","parkit","flexa","lvb_umkreissuche"]}},"trias12Category":{"type":"array","minItems":3,"maxItems":3,"description":"Category for the `TRIAS12` format","items":{"type":"string","description":"The array has 3 entries. The first entry is `custom` the third entry is `lvb_umkreissuche`. The second entry is in the provided enum, but cannot be any of `custom` or `lvb_umkreissuche`. `category[1]` is equal to the `source` of the represented element. Note that for ``category[1]`` instead of `flinkster` `dbconnect` is used in contrast to `triasCategory`.","enum":["custom","nextbike","dbconnect","flinkster","taxi","escooter","ticket-seller","parkit","flexa","lvb_umkreissuche"]}},"getVehiclesNextbikeTriasExtension":{"type":"object","required":["category","custom","bikeList"],"description":"appears only in the endpoint `/getVehicles`, `/getVehiclesForStations` and ``/nearByFlinkster``","properties":{"category":{"oneOf":[{"$ref":"#/components/schemas/triasCategory"},{"$ref":"#/components/schemas/trias12Category"}]},"custom":{"type":"object","required":["available_bikes","total_bikes","free_racks","bike_racks","station_type","sku","external_reference"],"properties":{"available_bikes":{"type":"integer","description":"Number of bikes currently available at the station.","example":13},"total_bikes":{"type":"integer","description":"Total number of bikes at the station same as `available_bikes`.","example":13},"free_racks":{"type":"integer","description":"Number of free racks available for parking bikes.","example":0},"bike_racks":{"type":"integer","description":"Total number of bike racks at the station.","example":0},"station_type":{"type":"string","description":"Type of bike station.","enum":["PHYSICAL_STATION"]},"sku":{"type":"string","description":"The SKU (Stock Keeping Unit) representing the bike system provider.","enum":["NEXTBIKE"]},"external_reference":{"type":"integer","description":"External reference ID of the bike station for use in external systems. Here without the `source`-prefix. Not set if `format`=`TRIAS12`","example":16337}}},"bikeList":{"type":"array","description":"List of bikes available at the station.","items":{"$ref":"#/components/schemas/bikeListItemTrias"}}}},"getVehicleFlinksterTriasExtension":{"type":"object","required":["category","custom","cantamenCarList"],"description":"appears only in the endpoint `/getVehicles`, `/getVehiclesForStations` and ``/nearByFlinkster``","properties":{"category":{"oneOf":[{"$ref":"#/components/schemas/triasCategory"},{"$ref":"#/components/schemas/trias12Category"}]},"custom":{"type":"object","required":["provider","external_reference","type","providerAreaId"],"properties":{"provider":{"type":"object","description":"Information about the service provider.","properties":{"name":{"type":"string","description":"The name of the service provider.","example":"JETZT mobil"},"id":{"type":"string","description":"The unique identifier for the provider.","example":"jez_mobil"}}},"external_reference":{"type":"string","description":"The external reference ID for the station, typically a UUID.","example":"8e8eebea-f222-4ccd-9a13-540987228fa2"},"type":{"type":"string","description":"The type of object, which in this case is a station.","example":"station"},"providerAreaId":{"type":"string","description":"The ID representing the area of the provider where the station is located.","example":"408988"}}},"cantamenCarList":{"type":"array","items":{"$ref":"#/components/schemas/flinksterVehicleTrias"}}}},"getVehicleEscooterTriasExtension":{"type":"object","required":["category","custom","escooterList"],"description":"appears only in the endpoint `/getVehicles`, `/getVehiclesForStations` and ``/nearByFlinkster``","properties":{"category":{"oneOf":[{"$ref":"#/components/schemas/triasCategory"},{"$ref":"#/components/schemas/trias12Category"}]},"custom":{"$ref":"#/components/schemas/escooterStationSearchJson"}},"escooterList":{"type":"array","items":{"$ref":"#/components/schemas/escooterFreeSearchJson"}}},"flinksterVehicleJson":{"type":"object","required":["rentalObject"],"description":"Result for ``format``=`JSON` and provided `id` of a `flinkster` station.","properties":{"rentalObject":{"type":"object","required":["name","type","model","category","providerRentalObjectId","attributes","equipment","access","prices","uid"],"properties":{"name":{"type":"string","description":"Name of the vehicle.","example":"Ford Fiesta 5 türig"},"type":{"type":"string","description":"Type of rental object (vehicle).","example":"vehicle"},"model":{"type":"string","description":"Model type of the rental vehicle.","example":"stationbased"},"category":{"type":"object","required":["uid","name"],"properties":{"uid":{"type":"string","description":"Unique identifier for the vehicle category.","example":"122002"},"name":{"type":"string","description":"Category name of the vehicle.","example":"Klein"}}},"providerRentalObjectId":{"type":"string","description":"Unique identifier for the rental vehicle provided by the service.","example":"220132"},"attributes":{"type":"object","required":["licenseplate","transmissionType","colour","seats","doors","fillLevel","fuel"],"properties":{"licenseplate":{"type":"object","properties":{"value":{"type":"string","description":"Vehicle license plate.","example":"HAL-JM 265"}}},"transmissionType":{"type":"object","properties":{"value":{"type":"string","description":"Transmission type of the vehicle.","example":"manual"},"description":{"type":"string","description":"Description of the transmission type.","example":"Manuell"}}},"colour":{"type":"object","properties":{"description":{"type":"string","description":"Vehicle color.","example":"Agate Black"}}},"seats":{"type":"object","properties":{"value":{"type":"integer","description":"Number of seats in the vehicle.","example":5},"description":{"type":"string","description":"Description of the number of seats.","example":"5"}}},"doors":{"type":"object","properties":{"value":{"type":"integer","description":"Number of doors in the vehicle.","example":5},"description":{"type":"string","description":"Description of the number of doors.","example":"5"}}},"fillLevel":{"type":"object","properties":{"value":{"type":"integer","description":"Fuel fill level as a percentage.","example":75},"description":{"type":"string","description":"Description of the fuel fill level.","example":"75"}}},"fuel":{"type":"object","properties":{"value":{"type":"string","description":"Type of fuel used by the vehicle.","example":"petrol"},"description":{"type":"string","description":"Description of the fuel type.","example":"Benzin"}}}}},"equipment":{"type":"object","required":["navigationSystem","cruiseControl","parkDistanceControl","tyreType","isofixSeatFittings","bluetoothHandsFreeCalling","carPlay","airConditioning","emissionsStickers"],"properties":{"navigationSystem":{"type":"object","properties":{"description":{"type":"string","description":"Navigation system availability.","example":"Navigationssystem"}}},"cruiseControl":{"type":"object","properties":{"description":{"type":"string","description":"Cruise control system.","example":"Tempomat"}}},"parkDistanceControl":{"type":"object","properties":{"description":{"type":"string","description":"Park distance control feature.","example":"Einparkhilfe"}}},"tyreType":{"type":"object","properties":{"description":{"type":"string","description":"Type of tires on the vehicle.","example":"Winterreifen"}}},"isofixSeatFittings":{"type":"object","properties":{"description":{"type":"string","description":"ISOFIX child seat fittings.","example":"Kindersitzhalterung (ISOFIX)"}}},"bluetoothHandsFreeCalling":{"type":"object","properties":{"description":{"type":"string","description":"Bluetooth hands-free calling system.","example":"Bluetooth-Freisprechanlage"}}},"carPlay":{"type":"object","properties":{"description":{"type":"string","description":"Compatibility with Android Auto™/ Apple CarPlay™.","example":"Android Auto™/ Apple CarPlay™"}}},"airConditioning":{"type":"object","properties":{"description":{"type":"string","description":"Air conditioning system.","example":"Klimaanlage"}}},"emissionsStickers":{"type":"object","properties":{"description":{"type":"string","description":"Emission sticker type.","example":"Umweltplakette grün"}}}}},"access":{"type":"object","required":["rentalObject","available","access"],"properties":{"stop":{"type":"object","required":["name","type","model","category","providerRentalObjectId","attributes","equipment","access","prices","uid"],"properties":{"accessMedia":{"type":"array","items":{"type":"object","required":["customerPinRequired","type"],"properties":{"customerPinRequired":{"type":"boolean","description":"Indicates whether a customer PIN is required for access.","example":true},"type":{"type":"string","description":"Access method, either via app or card.","example":"app"}}}}}},"start":{"type":"object","required":["accessMedia"],"properties":{"accessMedia":{"type":"array","items":{"type":"object","required":["customerPinRequired","type"],"properties":{"customerPinRequired":{"type":"boolean","description":"Indicates whether a customer PIN is required for access.","example":true},"type":{"type":"string","description":"Access method, either via app or card.","example":"app"}}}}}}}},"prices":{"type":"object","required":["price_6_to_22","price_22_to_6","price_24h","price_per_km","info","estimatedPrice"],"properties":{"price_6_to_22":{"type":"string","description":"Price per hour between 6 AM and 10 PM.","example":"3,29 €/h"},"price_22_to_6":{"type":"string","description":"Price per hour between 10 PM and 6 AM.","example":"1,00 €/h"},"price_24h":{"type":"string","description":"Price for a 24-hour rental.","example":"35,00 €/24h"},"price_per_km":{"type":"string","description":"Price per kilometer.","example":"0,29 €/km"},"info":{"type":"string","description":"Additional pricing information.","example":"Die erste Stunde wird voll berechnet, anschließend in 30 Minuten Einheiten."},"estimatedPrice":{"type":"string","nullable":true,"description":"Estimated price of the rental (optional).","example":null}}},"uid":{"type":"string","description":"Unique identifier for the rental object.","example":"0920a911-5d7b-4b39-9696-a2965d05e630"}}},"available":{"type":"boolean","description":"Indicates whether the vehicle is currently available for rental.","example":true}}},"flinksterVehicleTrias":{"type":"object","required":["id","name","sku","type","model","categoryId","categoryName","accessStart","accessStop","attributes","equipment","available","prices"],"properties":{"id":{"type":"string","description":"Unique identifier for the rental object, combining provider and vehicle ID.","example":"0920a911-5d7b-4b39-9696-a2965d05e630_PROVIDERID_220132"},"name":{"type":"string","description":"The name of the rental vehicle.","example":"Ford Fiesta 5 türig"},"sku":{"type":"string","description":"The SKU (Stock Keeping Unit) representing the type of rental vehicle.","example":"DBCAR"},"type":{"type":"string","description":"The type of rental object, in this case a vehicle.","example":"vehicle"},"model":{"type":"string","description":"The model type of the rental vehicle, indicating station-based rental.","example":"stationbased"},"categoryId":{"type":"string","description":"The unique identifier of the vehicle's category.","example":"122002"},"categoryName":{"type":"string","description":"The category name for the vehicle, indicating its size or type.","example":"Klein"},"accessStart":{"type":"array","description":"Access methods available for starting the vehicle.","items":{"type":"object","required":["customerPinRequired","type"],"properties":{"type":{"type":"string","description":"The type of access media (e.g., app or card).","example":"app"},"customerPinRequired":{"type":"boolean","description":"Indicates whether a customer PIN is required for vehicle access.","example":true}}}},"accessStop":{"type":"array","description":"Access methods available for stopping or ending the vehicle rental.","items":{"type":"object","required":["customerPinRequired","type"],"properties":{"type":{"type":"string","description":"The type of access media (e.g., app or card).","example":"app"},"customerPinRequired":{"type":"boolean","description":"Indicates whether a customer PIN is required for stopping vehicle access.","example":true}}}},"attributes":{"type":"object","required":["licenseplate","transmissionType","colour","seats","doors","fillLevel","fuel"],"properties":{"licenseplate":{"type":"object","required":["value"],"properties":{"value":{"type":"string","description":"The vehicle's license plate number.","example":"HAL-JM 265"}}},"transmissionType":{"type":"object","required":["value","description"],"properties":{"value":{"type":"string","description":"The type of vehicle transmission (manual or automatic).","example":"manual"},"description":{"type":"string","description":"Description of the transmission type.","example":"Manuell"}}},"colour":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"The color of the vehicle.","example":"Agate Black"}}},"seats":{"type":"object","required":["value","description"],"properties":{"value":{"type":"integer","description":"Number of seats in the vehicle.","example":5},"description":{"type":"string","description":"Description of the seating capacity.","example":"5"}}},"doors":{"type":"object","required":["value","description"],"properties":{"value":{"type":"integer","description":"Number of doors on the vehicle.","example":5},"description":{"type":"string","description":"Description of the number of doors.","example":"5"}}},"fillLevel":{"type":"object","required":["value","description"],"properties":{"value":{"type":"integer","description":"The current fuel level as a percentage.","example":75},"description":{"type":"string","description":"Description of the fuel level.","example":"75"}}},"fuel":{"type":"object","required":["value","description"],"properties":{"value":{"type":"string","description":"The type of fuel used by the vehicle.","example":"petrol"},"description":{"type":"string","description":"Description of the fuel type.","example":"Benzin"}}}}},"equipment":{"type":"object","required":["navigationSystem","cruiseControl","parkDistanceControl","tyreType","isofixSeatFittings","bluetoothHandsFreeCalling","carPlay","airConditioning","emissionsStickers"],"properties":{"airConditioning":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Air conditioning system.","example":"Klimaanlage"}}},"audioInline":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Audio Inline system.","example":"Audio Inline"}}},"bluetoothHandsFreeCalling":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Bluetooth hands-free calling system.","example":"Bluetooth-Freisprechanlage"}}},"carPlay":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Compatibility with Android Auto™/ Apple CarPlay™.","example":"Android Auto™/ Apple CarPlay™"}}},"cruiseControl":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Cruise control system.","example":"Tempomat"}}},"emissionsStickers":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Vehicle emissions sticker type.","example":"Umweltplakette grün"}}},"isofixSeatFittings":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"ISOFIX child seat fittings.","example":"Kindersitzhalterung (ISOFIX)"}}},"navigationSystem":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Navigation system availability.","example":"Navigationssystem"}}},"parkDistanceControl":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Park distance control system.","example":"Einparkhilfe"}}},"passengerAirbagTurnOff":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Passenger airbag deactivation feature.","example":"Beifahrerairbag abschaltbar"}}},"tyreType":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Type of tires on the vehicle.","example":"Winterreifen"}}}}},"available":{"type":"boolean","description":"Indicates whether the vehicle is currently available for rental.","example":true},"prices":{"type":"object","required":["price_6_to_22","price_22_to_6","price_24h","price_per_km","info","estimatedPrice"],"properties":{"price_6_to_22":{"type":"string","description":"Price per hour between 6 AM and 10 PM.","example":"3,29 €/h"},"price_22_to_6":{"type":"string","description":"Price per hour between 10 PM and 6 AM.","example":"1,00 €/h"},"price_24h":{"type":"string","description":"Price for 24-hour rental.","example":"35,00 €/24h"},"price_per_km":{"type":"string","description":"Price per kilometer driven.","example":"0,29 €/km"},"info":{"type":"string","description":"Additional pricing information.","example":"Die erste Stunde wird voll berechnet, anschließend in 30 Minuten Einheiten."},"estimatedPrice":{"type":"string","nullable":true,"description":"Estimated price for the rental (if applicable).","example":null}}}}},"bikeListItemTrias":{"type":"object","required":["number","language","gpsTracking","bikeType","lockTypes","active","placeId","cityId","domain","bikeTypeName"],"properties":{"number":{"type":"integer","description":"Unique identification number of the bike.","example":20489},"language":{"type":"string","description":"Language setting of the bike system interface.","example":"de"},"gpsTracking":{"type":"boolean","description":"Indicates whether the bike has GPS tracking enabled.","example":false},"bikeType":{"type":"integer","description":"Code representing the type of bike.","example":71},"lockTypes":{"type":"array","description":"List of lock types available on the bike.","items":{"type":"string","example":"frame_lock"}},"active":{"type":"boolean","description":"Indicates whether the bike is currently active and available for use.","example":true},"placeId":{"type":"integer","description":"Identifier for the location (place) where the bike is currently stationed.","example":16337},"cityId":{"type":"string","description":"Identifier for the city where the bike is located.","example":"1"},"domain":{"type":"string","description":"Domain associated with the bike's operation area.","example":"le"},"bikeTypeName":{"type":"string","description":"Descriptive name for the type of bike.","example":"mit Rahmenschloss"}}},"bikeFreeSearchJson":{"type":"object","description":"if `format` is `JSON` and either ``source`` is ``nextbike`` and ``type`` is ``free_floating`` or element of a `nextbike` station","required":["uid","state","active","number","bike_type","lock_types","vehicletype","bikeTypeName","boardcomputer","electric_lock"],"properties":{"uid":{"type":"integer","nullable":true,"description":"Unique identifier for the bike. Is null if bike in a station.","example":476156396},"state":{"type":"string","description":"Current state of the bike ","enum":["ok"]},"active":{"type":"boolean","description":"Whether the bike is currently active","example":true},"number":{"type":"string","description":"Bike number","example":"23337"},"bike_type":{"type":"integer","description":"Type of bike","example":71},"lock_types":{"type":"array","description":"Types of locks used for the bike","items":{"type":"string","example":"frame_lock"}},"vehicletype":{"type":"string","description":"Type of vehicle","enum":["bike"]},"bikeTypeName":{"type":"string","description":"Name of the bike type","example":"mit Rahmenschloss"},"boardcomputer":{"type":"integer","description":"Identifier for the bike's onboard computer","example":7551143414},"electric_lock":{"type":"boolean","description":"Whether the bike has an electric lock","example":true}}},"bikeStationSearchJson":{"type":"object","description":"if source is nextbike and type is station","required":["uid","number","num_spaces","vehicletype","num_vehicles","terminal_type","num_free_spaces","num_available_vehicles"],"properties":{"uid":{"type":"integer","description":"Unique identifier for the bike station data.","example":363445521},"number":{"type":"string","description":"The number associated with the bike station.","example":"4139"},"num_spaces":{"type":"integer","description":"The total number of spaces available at the bike station.","example":0},"vehicletype":{"type":"string","description":"The type of vehicle available at the bike station.","enum":["bike"]},"num_vehicles":{"type":"integer","description":"The number of vehicles available at the bike station.","example":2},"terminal_type":{"type":"string","description":"The type of terminal at the bike station","example":"free"},"num_free_spaces":{"type":"integer","description":"The number of free spaces available at the bike station.","example":0},"num_available_vehicles":{"type":"integer","description":"The number of available vehicles at the bike station.","example":2}}},"bikeSearchTrias":{"type":"object","description":"object appears if ``category[1]``=`nextbike`","required":["external_reference","available_bikes","total_bikes","station_type","sku","data"],"properties":{"external_reference":{"type":"string","description":"same as ``pointOfInterestCode`` for format `TRIAS`. For format `TRIAS12` it is only set for `station_type`=`FLOATING_BIKE` and then it is the bike type as integer."},"available_bikes":{"type":"integer","example":1,"description":"Number of available bikes"},"total_bikes":{"type":"integer","example":1,"description":"Total number of bikes"},"station_type":{"type":"string","example":"FLOATING_BIKE","description":"Type of station","enum":["FLOATING_BIKE","PHYSICAL_STATION"]},"sku":{"type":"string","description":"SKU of the bike","enum":["NEXTBIKE"]},"data":{"oneOf":[{"$ref":"#/components/schemas/bikeFreeSearchJson"},{"$ref":"#/components/schemas/bikeStationSearchJson"}]}}},"flinksterSearchJson":{"type":"object","required":["address","attributes","vehicletype","providerAreaId"],"properties":{"address":{"type":"object","description":"Details of the address.","required":["zip","city","number","street"],"properties":{"zip":{"type":"string","description":"Postal code of the location.","example":"04109"},"city":{"type":"string","description":"City where the location is situated.","example":"Leipzig"},"number":{"type":"string","description":"House or building number.","example":"7"},"street":{"type":"string","description":"Street name of the location.","example":"Willy-Brandt-Platz"}}},"attributes":{"type":"object","description":"Additional attributes of the location.","required":["parking","locationnote"],"properties":{"parking":{"type":"object","description":"Details about parking availability.","properties":{"required":["description"],"description":{"type":"string","description":"Description of available parking spaces.","example":"10 Stellplätze mit den Stellplatznummern 1-4 und 17-22."}}},"locationnote":{"type":"object","description":"Notes or instructions for accessing the location.","required":["description"],"properties":{"required":["description"],"description":{"type":"string","description":"Detailed location instructions, including how to access the station and parking.","example":"Sie kommen mit dem Zug oder zu Fuß?\r\nDie Station befindet sich IM Hauptbahnhof Leipzig..."}}}}},"vehicletype":{"type":"string","description":"Type of vehicle associated with the location.","enum":["car"]},"providerAreaId":{"type":"string","description":"ID representing the provider's area for this location.","example":"409668"}}},"flinksterSearchTrias":{"type":"object","description":"object appears if ``category[1]``=`flinkster` or `dbconnect`","required":["provider","external_reference","type","data"],"properties":{"provider":{"type":"object","description":"Details of the provider.","required":["id","name"],"properties":{"id":{"type":"string","description":"Unique identifier for the provider.","example":"jez_mobil"},"name":{"type":"string","description":"Name of the provider.","example":"JETZT mobil"}}},"external_reference":{"type":"string","description":"Unique identifier for the location without `flinkster-` prefix.","example":"8ec609ee-9845-4949-8f87-237a78357e5c"},"type":{"type":"string","description":"Type of location.","enum":["station","parkingarea","operationarea"]},"data":{"$ref":"#/components/schemas/flinksterSearchJson"}}},"taxi":{"type":"object","required":["phone"],"description":"appears if `source` of element is `taxi`","properties":{"phone":{"type":"string","description":"Phone number of the taxi company","example":"0341 4884"}}},"mobistation":{"type":"object","description":"appears if `source` of element is `lvb`","required":["address","stop_id","bike_racks","parking_spaces","charging_points","taxi_station_id","car_sharing_places","escooter_station_id","nextbike_station_id","teilauto_station_id","e_car_sharing_places","disabled_parking_spaces","escooter_station_information","nextbike_station_information","teilauto_station_information"],"properties":{"address":{"type":"object","description":"Details of the station's address.","required":["city","street","postalcode"],"properties":{"city":{"type":"string","description":"City where the station is located.","example":"Leipzig"},"street":{"type":"string","description":"Street name where the station is located.","example":"Wintergartenstraße"},"postalcode":{"type":"string","description":"Postal code of the station.","example":"04315"}}},"stop_id":{"type":"string","nullable":true,"description":"Unique identifier for the public transport stop.","example":"gtfs-mdv-0012705"},"bike_racks":{"type":"integer","nullable":true,"description":"Number of bike racks available at the station, if any."},"parking_spaces":{"type":"integer","nullable":true,"description":"Number of parking spaces available at the station, if any."},"charging_points":{"type":"integer","description":"Number of charging points available for electric vehicles.","example":0},"taxi_station_id":{"type":"string","nullable":true,"description":"Unique identifier for the taxi station, if available."},"car_sharing_places":{"type":"integer","description":"Number of car-sharing parking spaces available.","example":0},"escooter_station_id":{"type":"string","nullable":true,"description":"Unique identifier for the e-scooter station.","example":"escooter-109"},"nextbike_station_id":{"type":"string","nullable":true,"description":"Unique identifier for the Nextbike station, if available."},"teilauto_station_id":{"type":"string","nullable":true,"description":"Unique identifier for the Teilauto station, if available."},"e_car_sharing_places":{"type":"integer","nullable":true,"description":"Number of electric car-sharing parking spaces available, if any."},"disabled_parking_spaces":{"type":"integer","nullable":true,"description":"Number of parking spaces reserved for disabled individuals."},"escooter_station_information":{"type":"object","nullable":true,"description":"Details about the e-scooter station."},"nextbike_station_information":{"type":"object","nullable":true,"description":"Details about the Nextbike station, if available."},"teilauto_station_information":{"type":"object","nullable":true,"description":"Details about the Teilauto station, if available."}}},"stop":{"type":"object","required":["address","zone_id","wheelchair_boarding","stop_id"],"description":"appears if `source` of element is `gtfs-mdv`","properties":{"address":{"type":"object","description":"Details of the location address.","required":["city","state","county","district","postalcode"],"properties":{"city":{"type":"string","description":"City where the zone is located.","example":"Leipzig"},"state":{"type":"string","description":"State or region where the city is located.","example":"Sachsen"},"county":{"type":"string","description":"County or administrative district of the location.","example":"Leipzig"},"district":{"type":"string","description":"Specific district within the city where the zone is located.","example":"Zentrum-Ost"},"postalcode":{"type":"string","description":"Postal code of the location.","example":"04103"}}},"stop_id":{"type":"string","description":"Stop Id for routing API input.","example":"0013000"},"zone_id":{"type":"string","description":"Public transport zone for tariff.","example":"110"},"wheelchair_boarding":{"type":"integer","nullable":true,"description":"Information about wheelchair boarding availability. Null if information is unavailable. Otherwise follow the GTFS specification for meaning of values.","enum":[0,1,2]}}},"escooterFreeSearchJson":{"type":"object","required":["uid","code","price","zone_id","provider","vehicletype","battery_level"],"properties":{"uid":{"type":"string","description":"Unique identifier for the vehicle.","example":"e168cddb-8fd5-42c8-ad96-0c46d9d465c7"},"code":{"type":"string","description":"Code used to identify or unlock the vehicle.","example":"373666"},"price":{"type":"object","description":"Pricing information for the vehicle rental.","required":["start_price","price_per_min"],"properties":{"price_id":{"type":"string","description":"Unique identifier for the pricing model (TIER only).","example":"85a46030-bcec-4d9c-9da5-64938c681f36"},"start_price":{"type":"string","description":"Initial cost to start renting the vehicle.","example":"1.00"},"price_per_min":{"type":"string","description":"Cost per minute of using the vehicle.","example":"0.22"}}},"zone_id":{"type":"string","description":"Identifier for the geographical zone where the vehicle is located.","example":"LEIPZIG"},"provider":{"type":"string","description":"The company or service provider operating the vehicle.","example":"tier","enum":["tier,voi"]},"iotVendor":{"type":"string","description":"Vendor or manufacturer of the vehicle's IoT (Internet of Things) hardware (TIER only).","example":"ninebot_g3"},"vehicletype":{"type":"string","description":"Type of vehicle.","enum":["escooter"]},"licencePlate":{"type":"string","description":"License plate number of the vehicle, if applicable (TIER only).","example":"247IIC"},"battery_level":{"type":"integer","description":"Current battery level of the vehicle, represented as a percentage.","example":86}}},"escooterStationSearchJson":{"type":"object","required":["provider","num_spaces","vehicletype","num_vehicles","num_free_spaces"],"properties":{"provider":{"type":"array","description":"List of e-scooter providers available at the station.","items":{"type":"string"},"example":["voi","tier"],"enum":["voi","tier"]},"num_spaces":{"type":"integer","description":"Total number of parking spaces for e-scooters at the station.","example":6},"vehicletype":{"type":"string","description":"Type of vehicle available at the station.","enum":["escooter"]},"num_vehicles":{"type":"integer","description":"Number of e-scooters currently parked at the station.","example":3},"num_free_spaces":{"type":"integer","description":"Number of free parking spaces available for e-scooters.","example":3},"num_available_vehicles":{"type":"integer","description":"Number of e-scooters currently available for use.","example":3}}},"ticketSeller":{"type":"object","required":["city","type","notes","street","postcode","housenumber","addressExact"],"description":"appears if `source` of element is `ticket-seller`","properties":{"city":{"type":"string","description":"City where the ticket machine is located.","example":"Leipzig"},"type":{"type":"string","description":"Type of the place, where a customer can buy tickets.","example":"ticket-machine","enum":["ticket-machine","lvb-services","shop","konsum","service-point"]},"notes":{"type":"object","nullable":true,"required":["machineNumber"],"description":"Only set if `type`=`ticket-machine`. Additional details about the ticket machine.","properties":{"machineNumber":{"type":"integer","description":"Unique number identifying the ticket machine.","example":1151}}},"street":{"type":"string","description":"Street where the ticket machine is located.","example":"Paul-List-Straße"},"postcode":{"type":"string","description":"Postal code of the ticket machine's location.","example":"04103"},"housenumber":{"type":"string","description":"House number where the ticket machine is located.","example":"5"},"addressExact":{"type":"boolean","description":"Indicates whether the address provided is exact or approximate."}}},"parkit":{"type":"object","required":["address","num_spaces","num_free_spaces","num_disabled_spaces","num_electric_spaces","num_vehicles","occupation_level","vehicletype"],"description":"appears if `source` of element is `parkit`","properties":{"address":{"type":"object","description":"Details of the address where the parking area is located.","required":["city","state","county","nation","street","suburb","postcode","housenumber"],"properties":{"city":{"type":"string","description":"City where the parking area is located.","example":"Leipzig"},"state":{"type":"string","description":"State or region where the parking area is located.","example":"Sachsen"},"county":{"type":"string","description":"County where the parking area is located.","example":"Leipzig"},"nation":{"type":"string","description":"Country where the parking area is located.","example":"Deutschland"},"street":{"type":"string","description":"Street where the parking area is located.","example":"Friedhofsweg"},"suburb":{"type":"string","description":"Suburb or neighborhood where the parking area is located.","example":"Probstheida"},"postcode":{"type":"string","description":"Postal code of the parking area.","example":"04299"},"housenumber":{"type":"string","description":"House number of the parking area.","example":"3"}}},"num_spaces":{"type":"integer","description":"Total number of parking spaces in the area.","example":300},"vehicletype":{"type":"string","description":"Type of vehicles that can park in the area.","enum":["car"]},"num_vehicles":{"type":"integer","nullable":true,"description":"Number of vehicles currently parked in the area. Null, if unknown.","example":96},"num_free_spaces":{"type":"integer","nullable":true,"description":"Number of free parking spaces currently available. Null, if unknown.","example":205},"occupation_level":{"type":"string","nullable":true,"description":"Current level of occupation in the parking area. Null, if unknown.","example":"FREE","enum":["FREE","MEDIUM","FULL"]},"num_available_vehicles":{"type":"integer","nullable":true,"description":"Number of vehicles available for rent, if applicable. Null, if unknown.","example":0}}},"flexa":{"type":"object","required":["address","flexaId","flexaName","suspendedTo","suspendedFrom","transferToPublicTransport"],"description":"appears if `source` of element is `flexa`","properties":{"address":{"type":"object","description":"Details of the address where the Flexa stop is located.","required":["city","state","county","district","postalcode"],"properties":{"city":{"type":"string","description":"City where the Flexa stop is located.","example":"Leipzig"},"state":{"type":"string","description":"State or region where the Flexa stop is located.","example":"Sachsen"},"county":{"type":"string","description":"County where the Flexa stop is located.","example":"Leipzig"},"district":{"type":"string","description":"District within the city where the Flexa stop is located.","example":"Zentrum-Ost"},"postalcode":{"type":"string","description":"Postal code of the Flexa stop.","example":"04103"}}},"flexaId":{"type":"integer","description":"Unique identifier for the Flexa stop.","example":511},"flexaName":{"type":"string","description":"Name of the Flexa stop.","example":"SC 2"},"suspendedTo":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the stop suspension ends, if applicable.","example":"2023-08-25T00:00:00Z"},"suspendedFrom":{"type":"string","format":"date-time","nullable":true,"description":"Date and time when the stop suspension begins, if applicable.","example":"2023-08-25T00:00:00Z"},"transferToPublicTransport":{"type":"integer","nullable":true,"description":"Information about available transfers to public transport, if applicable. FlexaId","example":4}}},"multipleStationGetVehiclesJson":{"type":"object","description":"Default response for multiple station vehicle search.","required":["station_id","vehicles"],"properties":{"station_id":{"type":"string","description":"Unique identifier for the station. Same as in request, if exists."},"vehicles":{"type":"array","description":"List of vehicles available at the station.","items":{"oneOf":[{"$ref":"#/components/schemas/flinksterVehicleJson"},{"$ref":"#/components/schemas/bikeFreeSearchJson"},{"$ref":"#/components/schemas/escooterFreeSearchJson"}]}}}}}}}