{"openapi":"3.0.2","info":{"title":"Stop Monitor","version":"v20251216"},"servers":[{"url":"https://api.lmservices.mobilityinnovate.net/api/stopMonitor"}],"paths":{"/monitor":{"get":{"description":"Stop Monitor. </BR> Transport types: </BR><i>Regionalbahn , Regionalexpress , Bus, S-Bahn, Tram, Schienenersatzverkehr, Ruf-Bus</i> ","summary":"Shows all trips at a given stop, date and time","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"stopid","in":"query","description":"StopId of the Stop. It is also possible to specify a koordinate parameter instead of the stopid. </br> <i>Example:</i><b>koord=51.3243,12.3336</b> ","example":"0011078_parent","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"date to be queried. The format is YYYYMMDD, </br> <i>Example:</i><b>20200507</b> That stands for 7th. may 2020</BR>If no time parameter is specified, then the whole day is returned","example":"20260206","required":true,"schema":{"type":"string"}},{"name":"time","in":"query","description":"time to be queried. The format is HH:MM, </br> <i>Example:</i><b>11:35</b>","example":"17:34","required":false,"schema":{"type":"string"}},{"name":"minutes","in":"query","description":"results with arrival_time not later than ``minutes`` after ``time`` are returned. Default 60.","example":"120","required":false,"schema":{"type":"string"}},{"name":"max_items","in":"query","description":"Max. number of data returned. Default all.","example":"20","required":false,"schema":{"type":"string"}},{"name":"min_items","in":"query","description":"Minimum number of results returned. Default 0. If set the minutes parameter is internally enlarged (max. 3 days) until minimum number is reached.","example":"0","required":false,"schema":{"type":"string"}},{"name":"mockup","in":"query","description":"Sends back a mostly fixed data set modelling different special cases that might occur in practice.","example":"false","required":false,"schema":{"type":"string"}},{"name":"depOnly","in":"query","description":"Endpoint only gives back departures, i.e. trip that has final stop in given stopid is not listed.","example":"true","required":false,"schema":{"type":"boolean"}},{"name":"arrOnly","in":"query","description":"Endpoint only gives back arrivals, i.e. trip that has first stop in given stopid is not listed.","example":"false","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Array of stops","content":{"application/json:":{"schema":{"$ref":"#/components/schemas/monitorInfo"}}}}}},"post":{"description":"Get departure details for the specified stop filtered by line, direction and agency. The response is mostly the same as in the GET route, only difference, there are two keys added `agencyName` and `directionId`.","summary":"As the GET route but with filter options","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"stopid","in":"query","description":"StopId of the Stop. It is also possible to specify a koordinate parameter instead of the stopid. </br> <i>Example:</i><b>koord=51.3243,12.3336</b> ","example":"0013000_parent","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"date to be queried. The format is YYYYMMDD, </br> <i>Example:</i><b>20200507</b> That stands for 7th. may 2020</BR>If no time parameter is specified, then the whole day is returned","example":"20260206","required":true,"schema":{"type":"string"}},{"name":"time","in":"query","description":"time to be queried. The format is HH:MM, </br> <i>Example:</i><b>11:35</b>","example":"17:34","required":false,"schema":{"type":"string"}},{"name":"minutes","in":"query","description":"results with arrival_time not later than ``minutes`` after ``time`` are returned. Default 60.","example":"120","required":false,"schema":{"type":"string"}},{"name":"max_items","in":"query","description":"Max. number of data returned. Default all.","example":"20","required":false,"schema":{"type":"string"}},{"name":"min_items","in":"query","description":"Minimum number of results returned. Default 0. If set the minutes parameter is internally enlarged (max. 3 days) until minimum number is reached.","example":"0","required":false,"schema":{"type":"string"}},{"name":"mockup","in":"query","description":"Sends back a mostly fixed data set modelling different special cases that might occur in practice.","example":"false","required":false,"schema":{"type":"string"}},{"name":"depOnly","in":"query","description":"Endpoint only gives back departures, i.e. trip that has final stop in given stopid is not listed.","example":"true","required":false,"schema":{"type":"boolean"}},{"name":"arrOnly","in":"query","description":"Endpoint only gives back arrivals, i.e. trip that has first stop in given stopid is not listed.","example":"false","required":false,"schema":{"type":"boolean"}}],"requestBody":{"description":"All filters applied to the request.","content":{"application/json":{"schema":{"type":"object","properties":{"line":{"type":"array","items":{"type":"string"}},"agencyName":{"type":"array","items":{"type":"string"}},"directionId":{"type":"array","items":{"type":"string"}},"transportTypes":{"type":"array","items":{"type":"string"}}}},"examples":{"Tram 11":{"value":{"line":["11"],"agencyName":["Leipziger Verkehrsbetriebe"],"directionId":["0","1"],"transportTypes":["Tram"]}}}}}},"responses":{"200":{"description":"Array of stops","content":{"application/json:":{"schema":{"$ref":"#/components/schemas/monitorInfo"}}}}}}},"/directionInfo/{stopId}":{"post":{"description":"Get all lines and headsigns that come by the specific stop, summarized by directions.","summary":"get infos about directions and lines for a stop","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"name":"stopId","in":"path","description":"StopId of the Stop. As e.g. given by autocomplete search.","example":"0013000_parent","schema":{"type":"string"}}],"requestBody":{"description":"All filters applied to the request.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/directionInfoRequestItem"},{"type":"array","items":{"$ref":"#/components/schemas/directionInfoRequestItem"}}]},"examples":{"Tram 11":{"value":{"line":["11"],"agencyName":["Leipziger Verkehrsbetriebe"],"directionId":["0","1"],"transportTypes":["Tram"]}}}}}},"responses":{"200":{"description":"Array of Lines","content":{"application/json:":{"schema":{"$ref":"#/components/schemas/directionInfo"}}}},"400":{"description":"invalid input","content":{"application/json:":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"500":{"description":"unexpected problems on the server side","content":{"application/json:":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/stops":{"get":{"description":"Return the station in a bounding box, im Format: lon1,lat1, lon2, lat2 ","summary":"Returns all stations within a given bounding box, ordered by their relative priority","required":["bb"],"parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."},{"in":"query","name":"bb","required":false,"description":"Bounding box describing where the station are searched. ","example":"51.1,12.5,51.3,12.9"},{"in":"query","name":"order_by","required":false,"description":"Default \"Priority\". Orders by station name alphabetically (\"Name\") or station priority (\"Priority\")","example":"Name"},{"in":"query","name":"maxlen","required":false,"description":"Number of station items returned if not used there is no limit","example":10,"schema":{"type":"integer","minimum":0}}],"responses":{"200":{"description":"Array of stations","content":{"application/json:":{"schema":{"$ref":"#/components/schemas/stopsInfo"}}}}}}},"/stopTimes":{"post":{"description":"Get all stop times that belong to the specified trip.","summary":"all stop times for that trip","parameters":[{"in":"header","name":"X-API-Key","required":true,"schema":{"type":"string"},"example":"","description":"Limited rate key."}],"requestBody":{"description":"All request options.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tripId":{"type":"string","description":"trip id of the trip"},"stopId":{"type":"string","description":"the current stop id"},"afterStopSequence":{"type":"number","description":"after which stop sequence number to look for stop id"},"arrivalTime":{"$ref":"#/components/schemas/dateTimeString"},"departureTime":{"$ref":"#/components/schemas/dateTimeString"},"serviceDate":{"$ref":"#/components/schemas/dateString"}},"required":["tripId"]},"examples":{"serviceDate":{"value":{"tripId":"abc","serviceDate":"20260206"}},"stopId+arrivalTime":{"value":{"tripId":"abc","stopId":"0013000_parent","arrivalTime":"2022-12-01 17:23:00"}}}}}},"responses":{"200":{"description":"successful response","content":{"application/json:":{"schema":{"$ref":"#/components/schemas/stopTimesResponse"}}}},"400":{"description":"invalid input","content":{"application/json:":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"500":{"description":"unexpected problems on the server side","content":{"application/json:":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}}},"components":{"schemas":{"directionInfoRequestItem":{"type":"object","properties":{"line":{"type":"array","items":{"type":"string"}},"agencyName":{"type":"array","items":{"type":"string"}},"directionId":{"type":"array","items":{"type":"string"}},"transportTypes":{"type":"array","items":{"type":"string"}},"stopId":{"type":"string","description":"only if not provided in path parameter"}}},"directionInfo":{"type":"array","description":"Array of all routes that use the stop_id","items":{"$ref":"#/components/schemas/directionItem"}},"directionItem":{"type":"object","description":"Info for all routes that use the indicated stop:id","properties":{"directionId":{"type":"string","description":"Id for the direction 0 or 1","example":"0"},"agencyName":{"type":"string","description":"Agencie's name","example":"Leipziger Verkehrsbetriebe"},"line":{"type":"string","description":"Line description of the trip","example":"16"},"route_color":{"type":"string","description":"Hex Color for the route to be displayed","example":"BB1E10"},"directionName":{"type":"string","description":"Description of the direction Id","example":"Richtung Taucha"},"transport_type":{"type":"string","description":"Transportation type:<br>Tram<br>Bus<br>S-Bahn<br>Bahn<br>Schienenersatzverkehr<br>Ruf-Bus","example":"Tram"},"headsigns":{"type":"array","items":{"type":"string","description":"List of headsigns from the given line at the given stop_id"},"example":["Gohlis, Landsberger Straße","Hauptbahnhof","Sportforum Süd"]}},"required":["directionId","agencyName","line","route_color","directionName","transport_type","headsigns"]},"monitorItem":{"type":"object","description":"return array","properties":{"arrival_time":{"$ref":"#/components/schemas/timeString"},"date":{"$ref":"#/components/schemas/dateString"},"departure_time":{"$ref":"#/components/schemas/timeString"},"departure_date":{"$ref":"#/components/schemas/dateString"},"trip_id":{"type":"string","description":"identifier for the trip","example":"lvb05517STRB__20221130"},"stop_id":{"type":"string","description":"identifier for the stop, also used in the routing","example":"1000101"},"parent_id":{"type":"string","description":"stop_id of the parent station, also used in the autocomplete API","example":"0013000_parent"},"route_id":{"type":"string","description":"identifier for the route","example":"LVTRAM11"},"trip_headsign":{"type":"string","description":"Destination headsign for the specific trip","example":"Wahren"},"route_color":{"type":"string","description":"Hex Color for the route to be displayed","example":"BB1E10"},"directionId":{"type":"string","description":"0 and 1 are the directions of the trip","example":"0"},"agencyName":{"type":"string","description":"Name of the agency","example":"Leipziger Verkehrsbetriebe"},"trip_cancelled":{"type":"boolean","description":"True if the entire trip is cancelled","example":false},"stop_cancelled":{"type":"boolean","description":"True if only the current stop_id is cancelled","example":true},"trip_accessible_scheduled":{"type":"boolean","nullable":true,"description":"Default null. If set, trip is/is not planned to be wheelchair accessible","example":false},"trip_accessible":{"type":"boolean","nullable":true,"description":"Default null. If set, trip is/is not wheelchair accessible (realtime information)","example":true},"track_scheduled":{"type":"string","nullable":true,"description":"Default null. If set, scheduled track where the trip arrives and departures and the given stop_id","example":"A"},"track":{"type":"string","nullable":true,"description":"Default null. If set, realtime track where the trip arrives and departures and the given stop_id","example":"A"},"delay_time":{"type":"integer","nullable":true,"description":"Default null (no information). If set, arrival delay time in seconds. Positive means delay, negative an earlier arrival","example":60},"departure_delay":{"type":"integer","nullable":true,"description":"Default null (no information). If set, departure delay time in seconds. Positive means delay, negative an earlier departure","example":60},"waiting_time":{"type":"integer","description":"Time in minutes that must be waited from the requests execution time to the arrival of the trip at the given station. Negative numbers means that the trip is in the past"},"dep_waiting_time":{"type":"integer","description":"Time in minutes that must be waited from the requests execution time to the departure of the trip at the given station. Negative numbers means that the trip is in the past"},"alerts":{"type":"array","items":{"$ref":"#/components/schemas/alert"},"description":"Array of alerts that apply to the stop_id or entire trip"},"transport_type":{"type":"string","description":"Transportation type:<br>Tram<br>Bus<br>S-Bahn<br>Bahn<br>Schienenersatzverkehr<br>Ruf-Bus","example":"Tram"},"line":{"type":"string","description":"Line description of the trip","example":"16"}},"required":["arrival_time","date","departure_time","departure_date","trip_id","stop_id","parent_id","route_id","trip_headsign","route_color","directionId","agencyName","trip_cancelled","stop_cancelled","stop_accessible","trip_accessible","trip_accessible_scheduled","track_scheduled","track","delay_time","departure_delay","waiting_time","dep_waiting_time","alerts","transport_type","line"]},"tripInfo":{"type":"object","description":"information for a given trip","properties":{"trip_id":{"type":"string","description":"identifier for the trip","example":"lvb05517STRB__20221130"},"service_date":{"type":"string","description":"The GTFS service date for that trip, can be equal to the date that the trip arrives at its first stop, but in general this relation cannot be applied, so it might be different to that","example":"20221205"},"route_id":{"type":"string","description":"identifier for the route","example":"LVTRAM11"},"route_color":{"type":"string","description":"Hex Color for the route to be displayed","example":"BB1E10"},"directionId":{"type":"string","description":"0 and 1 are the directions of the trip","example":"0"},"agencyName":{"type":"string","description":"Name of the agency","example":"Leipziger Verkehrsbetriebe"},"default_headsign":{"type":"string","description":"Default trip headsign, which might change at specific stops.","example":"Wahren"},"trip_cancelled":{"type":"boolean","description":"True if the entire trip is cancelled","example":false},"trip_accessible_scheduled":{"type":"boolean","nullable":true,"description":"Default null. If set, trip is/is not planned to be wheelchair accessible","example":false},"trip_accessible":{"type":"boolean","nullable":true,"description":"Default null. If set, trip is/is not wheelchair accessible (realtime information)","example":true},"transport_type":{"type":"string","description":"Transportation type:<br>Tram<br>Bus<br>S-Bahn<br>Bahn<br>Schienenersatzverkehr<br>Ruf-Bus","example":"Tram"},"line":{"type":"string","description":"Line description of the trip","example":"16"}},"required":["trip_id","service_date","route_id","default_headsign","route_color","directionId","agencyName","trip_cancelled","trip_accessible","trip_accessible_scheduled","transport_type","line"]},"stopTimesResponse":{"type":"object","properties":{"tripInfo":{"$ref":"#/components/schemas/tripInfo"},"beforeGivenStop":{"type":"array","description":"stop before that one specified in the request","items":{"$ref":"#/components/schemas/stopTimesItem"}},"atGivenStop":{"description":"stop info for the specified stop","$ref":"#/components/schemas/stopTimesItem"},"afterGivenStop":{"type":"array","description":"stop info after specified stop id","items":{"$ref":"#/components/schemas/stopTimesItem"}},"beforeShape":{"type":"array","description":"shape coordinates before the specified stop","items":{"$ref":"#/components/schemas/coordinate"}},"afterShape":{"type":"array","description":"shape coordinates after the specified stop","items":{"$ref":"#/components/schemas/coordinate"}}},"required":["tripInfo","beforeGivenStop","atGivenStop","afterGivenStop","beforeShape","afterShape"]},"stopTimesItem":{"type":"object","properties":{"arrival_time":{"$ref":"#/components/schemas/timeString"},"date":{"$ref":"#/components/schemas/dateString"},"departure_time":{"$ref":"#/components/schemas/timeString"},"departure_date":{"$ref":"#/components/schemas/dateString"},"stop_id":{"type":"string","description":"identifier for the stop, also used in the routing","example":"1000101"},"stop_lat":{"type":"number","description":"Latitude of the stop","example":51.37},"stop_lon":{"type":"number","description":"Longitude of the stop","example":12.38},"parent_id":{"type":"string","description":"stop_id of the parent station, also used in the autocomplete API","example":"0013000_parent"},"stop_name":{"type":"string","description":"Name of the parent stop, if present, else the stop's name","example":"Leipzig, Hauptbahnhof (Tram/Bus)"},"stop_sequence":{"type":"number","description":"Order of the StopTimesItem","example":"3"},"trip_headsign":{"type":"string","description":"Destination headsign for the specific trip at the current stop","example":"Wahren"},"stop_accessible":{"type":"boolean","description":"True if current stop is wheelchair accessible","example":true},"stop_cancelled":{"type":"boolean","description":"True if only the current stop_id is cancelled","example":true},"track_scheduled":{"type":"string","nullable":true,"description":"Default null. If set, scheduled track where the trip arrives and departures and the given stop_id","example":"A"},"track":{"type":"string","nullable":true,"description":"Default null. If set, realtime track where the trip arrives and departures and the given stop_id","example":"A"},"delay_time":{"type":"integer","nullable":true,"description":"Default null (no information). If set, arrival delay time in seconds. Positive means delay, negative an earlier arrival","example":60},"departure_delay":{"type":"integer","nullable":true,"description":"Default null (no information). If set, departure delay time in seconds. Positive means delay, negative an earlier departure","example":60},"alerts":{"type":"array","items":{"$ref":"#/components/schemas/alert"},"description":"Array of alerts that apply to the stop_id or entire trip"}},"required":["arrival_time","date","departure_time","departure_date","stop_id","stop_lat","stop_lon","parent_id","trip_headsign","stop_cancelled","stop_accessible","track_scheduled","track","delay_time","departure_delay","waiting_time","dep_waiting_time","alerts"]},"coordinate":{"type":"object","properties":{"lon":{"$ref":"#/components/schemas/longitude","description":"Longitude of the coordinate"},"lat":{"$ref":"#/components/schemas/latitude","description":"Latitude of the coordinate"}},"required":["lon","lat"]},"stopsInfo":{"type":"array","items":{"$ref":"#/components/schemas/stopsItem"}},"stopsItem":{"type":"object","properties":{"stop_name":{"type":"string","description":"Stop name of the station","example":"Grimma, Bahnhof (Bus)"},"stop_id":{"type":"string","description":"identifier for the stop, also used un the roting and autocomplete API","example":"0013039"},"lat":{"$ref":"#/components/schemas/latitude","description":"Geographical latitude of the station"},"lon":{"$ref":"#/components/schemas/longitude","description":"Geographical longitude of the station"},"priority":{"type":"integer","description":"Relative priority of the station in the whole stoparray. It depends on the importance of the stop for the agency, and the inbound/outbound traffic","example":4528}},"required":["stop_name","stop_id","lat","lon","priority"]},"monitorInfo":{"type":"array","items":{"$ref":"#/components/schemas/monitorItem"}},"timeString":{"type":"string","pattern":"^(?:(?:([01]?\\d|2[0-3]):)?([0-5]?\\d):)?([0-5]?\\d)$","example":"17:23:12"},"dateString":{"type":"string","pattern":"\\\\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])","example":"20221201"},"dateTimeString":{"type":"string","description":"date time in timezone Europe/Berlin","example":"2022-12-01 17:23:12"},"epoch":{"type":"integer","minimum":0,"maximum":2147483647000},"tinyInt":{"type":"integer","enum":[0,1]},"latitude":{"type":"number","minimum":-90,"maximum":90,"example":"51.230301"},"longitude":{"type":"number","minimum":-180,"maximum":180,"example":"12.715422"},"alert":{"type":"object","required":["alertUrl","effectiveStartDate","effectiveEndDate","alertHeaderText","alertDescriptionText","alertCategory"],"properties":{"alertUrl":{"type":"string"},"effectiveStartDate":{"$ref":"#/components/schemas/epoch","description":"start date as unix timestamp (miliseconds since epoch, 1.1.1970)","example":1670340300000},"effectiveEndDate":{"$ref":"#/components/schemas/epoch","description":"end date as unix timestamp (miliseconds since epoch, 1.1.1970)","example":1670423100000},"alertHeaderText":{"type":"string"},"alertDescriptionText":{"type":"string"},"alertCategory":{"type":"integer","enum":[0,1,2,3,4,5,6],"description":"0 Störung 1 Verspätung 2 Winter 3 Information 4 Baustelle 5 Veranstaltung 6 Anschluss wird nicht erreicht"}}}}}}